<div class="container">
  <h1>Editing Post</h1>

  <%= render 'form', post: @post %>

  <%= link_to 'Show', @post, class: "text-decor-none" %> |
  <%= link_to 'Back', posts_path, class: "text-decor-none" %>
</div>
