/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.text-decor-none {
  text-decoration: none;
}

span.hor-divider {
   display: inline-block;
   width: 100%;
   border-bottom: 1.8px solid #e0e0e0;
}

span.ver-divider {
  border-left: 2px solid #505050;
  margin-left: 0.25rem;
  font-size: 0.875rem;
  vertical-align: middle;
}

.img-cover {
  object-fit: cover;
}

.w100 {
  width: 6.25rem;
}

.h100 {
  height: 6.25rem;
}

.w200 {
  width: 12.5rem;
}

.h200 {
  height: 12.5rem;
}

.opacity-80 {
  font-size: 80%;
  opacity: 0.80;
}
