/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.img-cover {
  object-fit: cover;
}

.w100 {
  width: 6.25rem;
}

.h100 {
  height: 6.25rem;
}

.w200 {
  width: 12.5rem;
}

.h200 {
  height: 12.5rem;
}

.opacity-80 {
  font-size: 80%;
  opacity: 0.80;
}
